<script setup lang="ts">
import { VDataTableServer } from "vuetify/labs/VDataTable";

// 👉 Store
const keyword = ref("");
const typeOut = ref<any[]>([]);
const dateFrom = ref("");
const dateTo = ref("");

// Data table options
const itemsPerPage = ref(10);
const page = ref(1);
const sortBy = ref();
const orderBy = ref();

// Data value
const users = ref([]);
const totalUsers = ref(0);
const typeDDL = ref([
  { content: "Grammar", value: "grammar" },
  { content: "Plagiarism", value: "plagiarism" },
  { content: "Text completion", value: "text-completion" },
  { content: "Paraphrasing", value: "paraphrasing" },
]);

// Update data table options
const updateOptions = (options: any) => {
  page.value = options.page;
  sortBy.value = options.sortBy[0]?.key;
  orderBy.value = options.sortBy[0]?.order;
  search();
};

// Headers
const headers: any = [
  { title: "No", key: "stt", sortable: false, align: "center" },
  {
    title: "Date request",
    key: "dateRequest",
    sortable: false,
    align: "center",
  },
  { title: "Type act", key: "type", sortable: false, align: "center" },
  { title: "Input text", key: "inputText", sortable: false, align: "center" },
  { title: "Output text", key: "result", sortable: false, align: "center" },
];

// 👉 Fetching users
const search = async () => {
  try {
    const data = await useApi<any>(
      createUrl("/get-all", {
        query: {
          keyword: keyword,
          typeOut: typeOut ?? "",
          page: page.value - 1,
          size: itemsPerPage,
          dateFrom: dateFrom,
          dateTo: dateTo,
        },
      })
    ).then((res) => {
      return res.data.value;
    });
    if (data.code == 200) {
      users.value = data.content.items;
      totalUsers.value = data.content.total;
    } else {
      users.value = [];
      totalUsers.value = 0;
    }
  } catch (err) {
    console.error(err);
  }
};
const handleSelectChange = (selectedValue: any[]) => {
  typeOut.value = selectedValue; // Replace the entire array to trigger reactivity
};
</script>

<template>
  <section>
    <VCard class="mb-6">
      <VCardText>
        <VRow>
          <!-- 👉 Select Role -->
          <VCol>
            <AppTextField
              v-model="keyword"
              label="Input text"
              placeholder="Enter some words contain in input text"
              append-inner-icon="tabler-search"
            />
          </VCol>
          <VCol>
            <AppSelect
              :items="typeDDL"
              item-title="content"
              item-value="value"
              @update:modelValue="handleSelectChange"
              label="Type action"
              placeholder="Select type action"
              :clearable="true"
            />
          </VCol>
          <VCol>
            <AppDateTimePicker
              v-model="dateFrom"
              label="From date"
              placeholder="Select date"
              :clearable="true"
            />
          </VCol>
          <VCol>
            <AppDateTimePicker
              v-model="dateTo"
              label="To date"
              placeholder="Select date"
              :clearable="true"
            />
          </VCol>
        </VRow>
        <VRow>
          <VCol>
            <VBtn
              @click="search"
              color="primary"
              class="mt-4"
              rounded="sm"
              block
            >
              Search
            </VBtn>
          </VCol>
        </VRow>
      </VCardText>
    </VCard>
    <VCard>
      <VCardText class="py-4 gap-4">
        <div class="text-center">
          <h2 class="text-h2 pricing-title mb-2">History</h2>
        </div>
      </VCardText>

      <VDivider />

      <!-- SECTION datatable -->
      <VDataTableServer
        :items-per-page="itemsPerPage"
        :page="page"
        :items="users"
        :items-length="totalUsers"
        :headers="headers"
        class="text-no-wrap"
        @update:options="updateOptions"
      >
        <!-- User -->
        <template #item.stt="{ index }">
          <strong>{{ index + 1 + 10 * (page - 1) }}</strong>
        </template>
        <template #item.dateRequest="{ item }">
          <span>{{ item.dateRequest.substring(0, 19).replace("T", " ") }}</span>
        </template>
        <template #item.inputText="{ item }">
          <span class="d-inline-block text-truncate" style="max-width: 300px">{{
            item.inputText
          }}</span>
          <VTooltip
            open-on-focus
            location="top"
            activator="parent"
            maxWidth="500px"
          >
            {{ item.inputText }}
          </VTooltip>
        </template>
        <template #item.result="{ item }">
          <span class="d-inline-block text-truncate" style="max-width: 300px">{{
            item.result
          }}</span>
          <VTooltip
            open-on-focus
            location="top"
            activator="parent"
            maxWidth="500px"
          >
            {{ item.result }}
          </VTooltip>
        </template>

        <!-- Actions -->
        <!-- <template #item.actions="{ item }">
          <IconBtn>
            <VIcon
              icon="tabler-edit"
              color="primary"
              @click="editUser(item.id)"
            />
          </IconBtn>
          <IconBtn>
            <VIcon
              :icon="item.status == 1 ? 'tabler-lock' : 'tabler-lock-open'"
              color="warning"
              @click="
                item.status == 1
                  ? updateStatus(item.id, 'lock')
                  : updateStatus(item.id, 'unlock')
              "
            />
          </IconBtn>

          <IconBtn @click="updateStatus(item.id, 'delete')">
            <VIcon icon="tabler-trash" color="error" />
          </IconBtn>
        </template> -->

        <!-- pagination -->
        <template #bottom>
          <VDivider />
          <div class="d-flex align-center gap-3 pa-5 pt-3">
            <div class="me-16 d-flex gap-3 align-center justify-start">
              <span>View</span>
              <AppSelect
                v-model="itemsPerPage"
                :items="[
                  { value: 10, title: '10' },
                  { value: 25, title: '25' },
                  { value: 50, title: '50' },
                  { value: 100, title: '100' },
                ]"
                style="inline-size: 6.25rem"
                item-title="title"
                item-value="value"
              />
              <span>records/page</span>
            </div>
            <span>Total {{ totalUsers }} records</span>
            <VPagination
              v-model="page"
              :length="Math.ceil(totalUsers / itemsPerPage)"
              :total-visible="6"
              variant="outlined"
              rounded="circle"
              :show-first-last-page="true"
            >
            </VPagination>
          </div>
        </template>
      </VDataTableServer>
      <!-- SECTION -->
    </VCard>
  </section>
</template>
