<script setup lang="ts">
import safeBoxWithGoldenCoin from "@images/misc/3d-safe-box-with-golden-dollar-coins.png";
import spaceRocket from "@images/misc/3d-space-rocket-with-smoke.png";
import dollarCoinPiggyBank from "@images/misc/dollar-coins-flying-pink-piggy-bank.png";

interface Pricing {
  title?: string;
  xs?: number | string;
  sm?: number | string;
  md?: string | number;
  lg?: string | number;
  xl?: string | number;
}

const props = defineProps<Pricing>();

const annualMonthlyPlanPriceToggler = ref(true);

const pricingPlans = [
  {
    name: "Basic",
    tagLine: "A simple start for everyone",
    logo: dollarCoinPiggyBank,
    monthlyPrice: 0,
    yearlyPrice: 0,
    isPopular: false,
    current: true,
    features: [
      "100 responses a month",
      "Unlimited forms and surveys",
      "Unlimited fields",
      "Basic form creation tools",
      "Up to 2 subdomains",
    ],
  },
  {
    name: "Standard",
    tagLine: "For small to medium businesses",
    logo: safeBoxWithGoldenCoin,
    monthlyPrice: 49,
    yearlyPrice: 499,
    isPopular: true,
    current: false,
    features: [
      "Unlimited responses",
      "Unlimited forms and surveys",
      "Instagram profile page",
      "Google Docs integration",
      "Custom “Thank you” page",
    ],
  },
  {
    name: "Enterprise",
    tagLine: "Solution for big organizations",
    logo: spaceRocket,
    monthlyPrice: 99,
    yearlyPrice: 999,
    isPopular: false,
    current: false,
    features: [
      "PayPal payments",
      "Logic Jumps",
      "File upload with 5GB storage",
      "Custom domain support",
      "Stripe integration",
    ],
  },
];
</script>

<template>
  <!-- 👉 Title and subtitle -->
  <div class="text-center">
    <h2 class="text-h2 pricing-title mb-2">
      {{ props.title ? props.title : "Pricing Plans" }}
    </h2>
    <p class="mb-0">
      All plans include 40+ advanced tools and features to boost your product.
    </p>
    <p class="mb-2">Choose the best plan to fit your needs.</p>
  </div>

  <!-- 👉 Annual and monthly price toggler -->

  <div class="d-flex align-center justify-center mx-auto my-10">
    <VLabel for="pricing-plan-toggle" class="me-2"> Monthly </VLabel>

    <div class="position-relative">
      <VSwitch
        id="pricing-plan-toggle"
        v-model="annualMonthlyPlanPriceToggler"
        label="Annual"
      />

      <div
        class="save-upto-chip position-absolute align-center d-none d-md-flex gap-1"
      >
        <VIcon icon="tabler-corner-left-down" class="flip-in-rtl mt-2" />
        <VChip label color="primary"> Save up to 10% </VChip>
      </div>
    </div>
  </div>

  <!-- SECTION pricing plans -->
  <VRow>
    <VCol
      v-for="plan in pricingPlans"
      :key="plan.logo"
      v-bind="props"
      cols="12"
    >
      <!-- 👉  Card -->
      <VCard
        flat
        border
        :class="plan.isPopular ? 'border-primary border-opacity-100' : ''"
      >
        <VCardText style="block-size: 4.125rem" class="text-end">
          <!-- 👉 Popular -->
          <VChip v-show="plan.isPopular" label color="primary" size="small">
            Popular
          </VChip>
        </VCardText>

        <!-- 👉 Plan logo -->
        <VCardText>
          <VImg :height="140" :src="plan.logo" class="mx-auto mb-5" />

          <!-- 👉 Plan name -->
          <h3 class="text-h3 mb-1 text-center">
            {{ plan.name }}
          </h3>
          <p class="mb-0 text-center">
            {{ plan.tagLine }}
          </p>

          <!-- 👉 Plan price  -->

          <div class="position-relative">
            <div class="d-flex justify-center align-center py-8">
              <sup class="text-sm text-primary me-1">$</sup>
              <h1 class="text-5xl font-weight-medium text-primary">
                {{
                  annualMonthlyPlanPriceToggler
                    ? Math.floor(Number(plan.yearlyPrice) / 12)
                    : plan.monthlyPrice
                }}
              </h1>
              <sub class="text-sm text-disabled ms-1">/month</sub>
            </div>

            <!-- 👉 Annual Price -->
            <span
              v-show="annualMonthlyPlanPriceToggler"
              class="annual-price-text position-absolute text-sm text-disabled"
            >
              {{
                plan.yearlyPrice === 0 ? "free" : `USD ${plan.yearlyPrice}/Year`
              }}
            </span>
          </div>

          <!-- 👉 Plan features -->

          <VList class="card-list mb-4">
            <VListItem v-for="feature in plan.features" :key="feature">
              <template #prepend>
                <VIcon :size="14" icon="tabler-circle" />
              </template>

              <VListItemTitle>
                {{ feature }}
              </VListItemTitle>
            </VListItem>
          </VList>

          <!-- 👉 Plan actions -->
          <VBtn
            block
            :color="plan.current ? 'success' : 'primary'"
            :variant="plan.isPopular ? 'elevated' : 'tonal'"
            :to="{ name: 'front-pages-payment' }"
          >
            {{ plan.yearlyPrice === 0 ? "Your Current Plan" : "Upgrade" }}
          </VBtn>
        </VCardText>
      </VCard>
    </VCol>
  </VRow>
  <!-- !SECTION  -->
</template>

<style lang="scss" scoped>
.card-list {
  --v-card-list-gap: 0.75rem;
}

.save-upto-chip {
  inset-block-start: -2rem;
  inset-inline-end: -7rem;
}

.annual-price-text {
  inset-block-end: 10%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}
</style>
